
@{
    Layout = null;
}

<div id="mensagem">@TempData["msg"]</div>
<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/cadastro.css">
    <title>Esqueceu sua senha?</title>
</head>
<style>

    body{
        cursor:progress;
        background-color:#FFF1D4;
        text-align:center;
        color:FF55A1;
    }
    img {

        align-items: center;
    }

    h1{
        font-family:Arial;
        font-size:40px;
    }

    a {
       
        font-family: Arial;
        font-size: 20px;
        text-decoration: none;
        color: #FF55A1;
        align-items: center;
    }

</style>
<body>

    <!--Realizando a magnifica e eficiente tela de troca de senha ao que tudo indica ela sera provisoria-->
    <br>

    <h1>Vish kk <br> Área em processo...</h1>

    <img src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!c1024wm0" id="carregando" />
    <br />

    <a href="/Home">&lt- Voltar para a home</a>

</body>

</html>